@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

header {
  height: 120px;
  margin: 25px 15px 0;
  padding: 15px 0 10px;
  background: rgba(235, 126, 87, 0.76);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(235, 126, 87, 0.14);
}

body {
  font-family: "Inter", sans-serif;
  text-align: center;
  background-image: url("https://cdn.pixabay.com/photo/2016/09/08/22/43/books-1655783_960_720.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
}

.container {
  text-align: center;
  margin: 30px 15px 10px;
  padding: 20px;
  background: rgba(235, 126, 87, 0.76);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(235, 126, 87, 0.14);
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
  font-size: 45px;
}

.page-subtitle {
  margin: 5px 0 8px;
  text-transform: uppercase;
}

.prateleiraClass {
  margin-top: 15px;
  background: rgba(157, 57, 21, 0.76);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(157, 57, 21, 0.14);
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

body > img {
  margin: 0 10px;
  border: solid 1px #3f1506;
}

img {
  max-height: 250px;
  padding: 15px;
}
