* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  outline: none;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(135deg, #e2b0ff 10%, #9f44d3 100%);
  background-color: #ffe1dc;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container {
  height: 400px;
  width: 340px;
  border-radius: 10px;
  flex-direction: column;
  display: flex;
  background-color: #6025db;
  padding: 0px 30px 45px 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.caixa {
  margin: 25px 0;
  text-align: center;
  color: #091a7a;
  font-size: 18px;
}

.page-title {
  color: #ccf9ff;
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 10px;
}

.page-subtitle {
  padding: 10px 0px;
  font-size: 15px;
  color: #1939b7;
}

.inputClass {
  padding: 12px;
  border-radius: 10px;
  border: 3px solid #091a7a;
  margin-top: 1px;
  margin-bottom: 8px;
  text-align: center;
  color: #6025db;
  background-color: #ebd6ff;
}

.inputClass:focus {
  background-color: #99eeff;
  color: #6025db;
  text-align: center;
}

.spanClass {
  color: #99eeff;
}

.page-logo {
  width: 150px;
  background-color: #171c7a;
  border: 1px solid;
  border-radius: 1.5px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

input {
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
}

p {
  color: #ccf9ff;
}
